In [1]:
import pandas as pd

# Load and Read In Dataframes

In [5]:
from google.colab import files
uploaded = files.upload()

Saving SpotifyFeatures.csv to SpotifyFeatures.csv

In [6]:
df1 = pd.read_csv('base_api_df (7).csv')
df2 = pd.read_csv('data-2.csv')
df3 = pd.read_csv('featuresdf.csv')
df4 = pd.read_csv('SpotifyFeatures.csv')

# Cut Dataframes Down to Track Ids and Music Features

In [7]:
df1.head(1)

     artists        tracks               tracks_id  ... liveness  valence    tempo
0  DJ Shadow  Nobody Speak  2A9rFFPwsnhusCh8ZMBvYY  ...    0.263    0.304  160.066

[1 rows x 13 columns]

In [8]:
df1 = df1.drop(columns=['albums', 'artists', 'tracks'])
df1.head(1)

                tracks_id  danceability  energy  ...  liveness  valence    tempo
0  2A9rFFPwsnhusCh8ZMBvYY         0.621   0.814  ...     0.263    0.304  160.066

[1 rows x 10 columns]

In [9]:
df2.head(1)

   acousticness              artists  danceability  ...    tempo  valence  year
0         0.995  ['Carl Woitschach']         0.708  ...  118.469    0.779  1928

[1 rows x 19 columns]

In [10]:
df2 = df2.drop(columns=['explicit', 'key', 'popularity', 'release_date', 'year', 'artists', 'duration_ms', 'name', 'mode'])
df2.head(1)

   acousticness  danceability  energy  ... speechiness    tempo  valence
0         0.995         0.708   0.195  ...      0.0506  118.469    0.779

[1 rows x 10 columns]

In [11]:
df3.head(1)

                      id          name  ... duration_ms  time_signature
0  7qiZfU4dY1lWllzX7mPBI  Shape of You  ...    233713.0             4.0

[1 rows x 16 columns]

In [12]:
df3 = df3.drop(columns=['key', 'name', 'artists', 'key', 'mode', 'duration_ms', 'time_signature'])
df3.head(1)

                      id  danceability  energy  ...  liveness  valence   tempo
0  7qiZfU4dY1lWllzX7mPBI         0.825   0.652  ...    0.0931    0.931  95.977

[1 rows x 10 columns]

In [13]:
df4.head(1)

   genre     artist_name  ... time_signature valence
0  Movie  Henri Salvador  ...            4/4   0.814

[1 rows x 18 columns]

In [14]:
df4 = df4.drop(columns=['genre', 'popularity', 'key', 'artist_name', 'track_name', 'duration_ms', 'mode', 'time_signature'])
df4.head(1)

                 track_id  acousticness  ...    tempo  valence
0  0BRjO6ga9RKCKjfDqeFgWV         0.611  ...  166.969    0.814

[1 rows x 10 columns]

# Merge Dataframes

In [15]:
# Rename id columns so that columns from every dataframe are the same
df4 = df4.rename(columns={'track_id':'id'})
df1 = df1.rename(columns={'tracks_id':'id'})

In [16]:
spotify_df = df1.merge(df2, how='outer')
spotify_df = spotify_df.merge(df3, how='outer')
spotify_df = spotify_df.merge(df4, how='outer')
spotify_df.shape

(454962, 10)

In [17]:
spotify_df = spotify_df.drop_duplicates()
spotify_df['id'] = spotify_df['id'].drop_duplicates()
spotify_df = spotify_df.dropna()
spotify_df.shape

(364824, 10)

In [18]:
spotify_df = spotify_df.rename(columns={'track_key':'id'})

In [19]:
spotify_df.sample(10)

                            id  danceability  ...  valence    tempo
47672   5ZoI4tXPZzcN7PIVmxO7kF         0.325  ...    0.512   80.898
418738  4JjNmuIjzHVod52pz9pH4H         0.357  ...    0.318   97.848
178187  3hgcfNQI4jOIqjhI13im4E         0.727  ...    0.720  123.816
307232  3uD8x3IzUWD1BNlCC3fXk2         0.540  ...    0.469   89.979
305750  6omXPpAJH4ap2jMGPqjv0C         0.828  ...    0.581  127.984
181044  1KeZgPUr54C8iz3FjqzVoz         0.615  ...    0.454  103.006
105600  6vOk0FeRB3BMh03nLXOTvK         0.603  ...    0.842  152.566
96196   3tTwH5Ut4S1LuTRKUTcj1O         0.432  ...    0.111  126.237
229494  0jv5OcbvTUHgO8FgHhya8b         0.367  ...    0.624  107.014
196139  3NcJu9876GBJuNU6vJOrbb         0.626  ...    0.298   98.708

[10 rows x 10 columns]

In [20]:
track_key = []
for i in range(spotify_df.shape[0]):

  track_key.append(i)

len(track_key)

364824

In [21]:
spotify_df['track_key'] = track_key
spotify_df.head()

                       id  danceability  energy  ...  valence    tempo  track_key
0  2A9rFFPwsnhusCh8ZMBvYY         0.621   0.814  ...    0.304  160.066          0
2  3IEG65Fi7Zm8cQEEG3uJ4H         0.699   0.909  ...    0.691  171.877          1
3  4cucslsiEgezV2o900Ykg3         0.613   0.832  ...    0.480  164.876          2
4  1z6zJqayfsAiiYtQ3minb7         0.664   0.644  ...    0.646   79.526          3
5  36cPAjE8pUyFKoAqOuNpew         0.612   0.716  ...    0.802  168.062          4

[5 rows x 11 columns]

In [114]:
spotify_df.to_csv('spotify_song_data.csv')

# Let's Create a Baseline Predictive Model Now

In [22]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(spotify_df)
train, test

(                            id  danceability  ...    tempo  track_key
 202877  3WlKkEYNe3Xhk3zER805g9         0.701  ...  113.043     169544
 339906  1ZhwUkZfNpbCwwBFNqClRL         0.637  ...  108.304     269394
 255457  2bNnfnqNhy7dZXSbU1de8U         0.449  ...  144.038     214981
 62973   6olS0TmHmsGr0hXtcBsiVM         0.272  ...  202.777      51937
 390360  15Ad73dlBgmnzVaXOx1CjK         0.816  ...   82.008     305987
 ...                        ...           ...  ...      ...        ...
 254579  5wOlrILWF42yYT5iqeUeEl         0.710  ...   99.962     214187
 429548  3wVpfxlIKWbfpJcr7CXVHQ         0.252  ...   83.485     341491
 397145  6uUbQnzl9J7rOOirRITGjW         0.526  ...  145.925     311289
 371802  5P1cTU7nvshZQ4WbgejlI2         0.436  ...  127.276     290740
 100479  3Jxjb19MCQAygvyFeHs6TX         0.724  ...  112.992      79447

 [273618 rows x 11 columns],
                             id  danceability  ...    tempo  track_key
 153513  2mCpV86eTv2nUFEjN6kDBG         0.682  ...  130.674     128024
 274618  4sf2L157iEgAR7yrCNLgSq         0.562  ...  145.913     231802
 169273  16Y9fKPEa7SQ5lZojVuNcO         0.714  ...  107.529     142799
 101252  2cDSIHTfijPEtbwJozJ16s         0.576  ...  141.959      80091
 25588   22YDVjb11sstVqDkUaBhUE         0.700  ...  128.068      21285
 ...                        ...           ...  ...      ...        ...
 185688  6kLp24Op7cOu8iQkU46sBv         0.624  ...  104.357     158066
 184331  1r8SFRVZWeyLDlG0lBbEiu         0.522  ...  149.765     156896
 268223  2KYWhE49WxmURB6LDLi8qN         0.517  ...  122.631     226159
 212684  3FAPlhBwzDXjWEeQuWJZbd         0.695  ...  129.821     177412
 414181  145fDusxXmqTad137UwzVw         0.448  ...   73.369     327381

 [91206 rows x 11 columns])

In [23]:
X_train, X_test = train.drop(columns='id'), test.drop(columns='id')

In [24]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder

# Instantiate Standard Scaler
scaler = StandardScaler()

# Fit_transform train data
X_train_scaled = scaler.fit_transform(X_train)

# Transform test data
X_test_scaled = scaler.transform(X_test)

X_train_scaled

array([[ 0.83435289, -0.21018911,  0.26371656, ...,  0.43409352,
        -0.14047095, -0.12292105],
       [ 0.48628342, -0.09275456,  0.27854826, ...,  0.45291598,
        -0.29396982,  0.82495193],
       [-0.53617064,  0.54946565,  0.56768319, ..., -0.05905486,
         0.8634745 ,  0.308411  ],
       ...,
       [-0.11739956,  0.28890774,  0.81498938, ...,  0.0915248 ,
         0.92459549,  1.22265988],
       [-0.60687225, -1.76105916, -2.26317273, ..., -0.76301477,
         0.32054391,  1.02758886],
       [ 0.95944035,  0.48707854,  0.86148427, ...,  0.99123826,
        -0.14212287, -0.9782091 ]])

In [25]:
len(X_train_scaled), len(X_test_scaled)

(273618, 91206)

In [27]:
# Reshape data
import numpy as np
X_train = X_train_scaled.reshape((len(X_train), np.prod(X_train_scaled.shape[1:])))
X_test = X_test_scaled.reshape((len(X_test), np.prod(X_test_scaled.shape[1:])))

In [28]:
len(X_train),len(X_test)

(273618, 91206)

In [29]:
# Create our baseline model
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Flatten

# Important hyperparameters
inputs = X_train.shape[1]
epochs = 75
batch_size = 10

# Create model
model = Sequential([
    Dense(64, activation='relu', input_dim=inputs),
    Dense(64, activation='relu'),
    Dense(10, activation='softmax')
    ])

# Compile model
model.compile(optimizer='adam', loss='categorical_crossentropy')

# Fit model
model.fit(X_train, X_train,
          validation_data=(X_test, X_test),
          epochs=epochs,
          batch_size=batch_size
          )

Epoch 1/75
27362/27362 [==============================] - 67s 2ms/step - loss: -175811424.0000 - val_loss: -626918464.0000
Epoch 2/75
27362/27362 [==============================] - 69s 3ms/step - loss: -2034432384.0000 - val_loss: -4077159936.0000
Epoch 3/75
27362/27362 [==============================] - 67s 2ms/step - loss: -7878820352.0000 - val_loss: -12598508544.0000
Epoch 4/75
27362/27362 [==============================] - 67s 2ms/step - loss: -19934423040.0000 - val_loss: -28449884160.0000
Epoch 5/75
27362/27362 [==============================] - 70s 3ms/step - loss: -40561459200.0000 - val_loss: -53766463488.0000
Epoch 6/75
27362/27362 [==============================] - 70s 3ms/step - loss: -71658807296.0000 - val_loss: -90689929216.0000
Epoch 7/75
27362/27362 [==============================] - 72s 3ms/step - loss: -115748831232.0000 - val_loss: -141680427008.0000
Epoch 8/75
27362/27362 [==============================] - 67s 2ms/step - loss: -175036612608.0000 - val_loss: -208814424064.0000
Epoch 9/75
27362/27362 [==============================] - 66s 2ms/step - loss: -251529576448.0000 - val_loss: -294075170816.0000
Epoch 10/75
27362/27362 [==============================] - 67s 2ms/step - loss: -347439497216.0000 - val_loss: -399721562112.0000
Epoch 11/75
27362/27362 [==============================] - 67s 2ms/step - loss: -465428086784.0000 - val_loss: -528631234560.0000
Epoch 12/75
27362/27362 [==============================] - 66s 2ms/step - loss: -607116918784.0000 - val_loss: -681960603648.0000
Epoch 13/75
27362/27362 [==============================] - 66s 2ms/step - loss: -774927876096.0000 - val_loss: -862095605760.0000
Epoch 14/75
27362/27362 [==============================] - 66s 2ms/step - loss: -971111202816.0000 - val_loss: -1071708897280.0000
Epoch 15/75
27362/27362 [==============================] - 66s 2ms/step - loss: -1197462388736.0000 - val_loss: -1312970506240.0000
Epoch 16/75
27362/27362 [==============================] - 68s 2ms/step - loss: -1457238441984.0000 - val_loss: -1587442614272.0000
Epoch 17/75
27362/27362 [==============================] - 66s 2ms/step - loss: -1751786848256.0000 - val_loss: -1897581641728.0000
Epoch 18/75
27362/27362 [==============================] - 66s 2ms/step - loss: -2083363618816.0000 - val_loss: -2245992382464.0000
Epoch 19/75
27362/27362 [==============================] - 67s 2ms/step - loss: -2453270429696.0000 - val_loss: -2634661494784.0000
Epoch 20/75
27362/27362 [==============================] - 68s 2ms/step - loss: -2867319275520.0000 - val_loss: -3066961068032.0000
Epoch 21/75
27362/27362 [==============================] - 67s 2ms/step - loss: -3323302772736.0000 - val_loss: -3542307569664.0000
Epoch 22/75
27362/27362 [==============================] - 70s 3ms/step - loss: -3825658232832.0000 - val_loss: -4064723861504.0000
Epoch 23/75
27362/27362 [==============================] - 71s 3ms/step - loss: -4377654591488.0000 - val_loss: -4636090564608.0000
Epoch 24/75
27362/27362 [==============================] - 68s 2ms/step - loss: -4975995387904.0000 - val_loss: -5257761914880.0000
Epoch 25/75
27362/27362 [==============================] - 65s 2ms/step - loss: -5629288644608.0000 - val_loss: -5933635731456.0000
Epoch 26/75
27362/27362 [==============================] - 64s 2ms/step - loss: -6338748350464.0000 - val_loss: -6665633529856.0000
Epoch 27/75
27362/27362 [==============================] - 63s 2ms/step - loss: -7105576173568.0000 - val_loss: -7457264893952.0000
Epoch 28/75
27362/27362 [==============================] - 64s 2ms/step - loss: -7929382567936.0000 - val_loss: -8306160041984.0000
Epoch 29/75
27362/27362 [==============================] - 64s 2ms/step - loss: -8817807982592.0000 - val_loss: -9218408054784.0000
Epoch 30/75
27362/27362 [==============================] - 66s 2ms/step - loss: -9767329202176.0000 - val_loss: -10192709222400.0000
Epoch 31/75
27362/27362 [==============================] - 64s 2ms/step - loss: -10784145932288.0000 - val_loss: -11235778101248.0000
Epoch 32/75
27362/27362 [==============================] - 64s 2ms/step - loss: -11864154046464.0000 - val_loss: -12345525927936.0000
Epoch 33/75
27362/27362 [==============================] - 68s 2ms/step - loss: -13019768684544.0000 - val_loss: -13527494426624.0000
Epoch 34/75
27362/27362 [==============================] - 68s 2ms/step - loss: -14244367040512.0000 - val_loss: -14780275359744.0000
Epoch 35/75
27362/27362 [==============================] - 67s 2ms/step - loss: -15543909220352.0000 - val_loss: -16107875336192.0000
Epoch 36/75
27362/27362 [==============================] - 65s 2ms/step - loss: -16920557387776.0000 - val_loss: -17515137728512.0000
Epoch 37/75
27362/27362 [==============================] - 65s 2ms/step - loss: -18379538694144.0000 - val_loss: -19004286566400.0000
Epoch 38/75
27362/27362 [==============================] - 64s 2ms/step - loss: -19919808757760.0000 - val_loss: -20575722405888.0000
Epoch 39/75
27362/27362 [==============================] - 65s 2ms/step - loss: -21544484995072.0000 - val_loss: -22232703172608.0000
Epoch 40/75
27362/27362 [==============================] - 65s 2ms/step - loss: -23255446454272.0000 - val_loss: -23972177510400.0000
Epoch 41/75
27362/27362 [==============================] - 64s 2ms/step - loss: -25050998636544.0000 - val_loss: -25800216674304.0000
Epoch 42/75
27362/27362 [==============================] - 65s 2ms/step - loss: -26936606720000.0000 - val_loss: -27721251946496.0000
Epoch 43/75
27362/27362 [==============================] - 66s 2ms/step - loss: -28916848787456.0000 - val_loss: -29728824098816.0000
Epoch 44/75
27362/27362 [==============================] - 68s 2ms/step - loss: -30987048189952.0000 - val_loss: -31838502387712.0000
Epoch 45/75
27362/27362 [==============================] - 66s 2ms/step - loss: -33156291887104.0000 - val_loss: -34039683612672.0000
Epoch 46/75
27362/27362 [==============================] - 66s 2ms/step - loss: -35426547007488.0000 - val_loss: -36341630894080.0000
Epoch 47/75
27362/27362 [==============================] - 66s 2ms/step - loss: -37789303308288.0000 - val_loss: -38742937042944.0000
Epoch 48/75
27362/27362 [==============================] - 66s 2ms/step - loss: -40264332738560.0000 - val_loss: -41248077381632.0000
Epoch 49/75
27362/27362 [==============================] - 67s 2ms/step - loss: -42838951723008.0000 - val_loss: -43866161938432.0000
Epoch 50/75
27362/27362 [==============================] - 65s 2ms/step - loss: -45527966154752.0000 - val_loss: -46587527036928.0000
Epoch 51/75
27362/27362 [==============================] - 64s 2ms/step - loss: -48329887055872.0000 - val_loss: -49425195991040.0000
Epoch 52/75
27362/27362 [==============================] - 65s 2ms/step - loss: -51237374394368.0000 - val_loss: -52372025901056.0000
Epoch 53/75
27362/27362 [==============================] - 65s 2ms/step - loss: -54266416857088.0000 - val_loss: -55432085241856.0000
Epoch 54/75
27362/27362 [==============================] - 68s 2ms/step - loss: -57403278098432.0000 - val_loss: -58612802125824.0000
Epoch 55/75
27362/27362 [==============================] - 66s 2ms/step - loss: -60656791322624.0000 - val_loss: -61905049747456.0000
Epoch 56/75
27362/27362 [==============================] - 67s 2ms/step - loss: -64043234623488.0000 - val_loss: -65327681503232.0000
Epoch 57/75
27362/27362 [==============================] - 67s 2ms/step - loss: -67543674912768.0000 - val_loss: -68872325562368.0000
Epoch 58/75
27362/27362 [==============================] - 69s 3ms/step - loss: -71190332833792.0000 - val_loss: -72548163256320.0000
Epoch 59/75
27362/27362 [==============================] - 67s 2ms/step - loss: -74946206236672.0000 - val_loss: -76341860892672.0000
Epoch 60/75
27362/27362 [==============================] - 67s 2ms/step - loss: -78831750742016.0000 - val_loss: -80271370092544.0000
Epoch 61/75
27362/27362 [==============================] - 67s 2ms/step - loss: -82855069745152.0000 - val_loss: -84336338534400.0000
Epoch 62/75
27362/27362 [==============================] - 69s 3ms/step - loss: -87014510690304.0000 - val_loss: -88531816939520.0000
Epoch 63/75
27362/27362 [==============================] - 69s 3ms/step - loss: -91308387467264.0000 - val_loss: -92865824817152.0000
Epoch 64/75
27362/27362 [==============================] - 67s 2ms/step - loss: -95742261723136.0000 - val_loss: -97341465952256.0000
Epoch 65/75
27362/27362 [==============================] - 66s 2ms/step - loss: -100310932520960.0000 - val_loss: -101955124854784.0000
Epoch 66/75
27362/27362 [==============================] - 67s 2ms/step - loss: -105038181564416.0000 - val_loss: -106710165356544.0000
Epoch 67/75
27362/27362 [==============================] - 68s 2ms/step - loss: -109901393166336.0000 - val_loss: -111621619843072.0000
Epoch 68/75
27362/27362 [==============================] - 68s 2ms/step - loss: -114913141850112.0000 - val_loss: -116671511527424.0000
Epoch 69/75
27362/27362 [==============================] - 66s 2ms/step - loss: -120080088170496.0000 - val_loss: -121879343923200.0000
Epoch 70/75
27362/27362 [==============================] - 67s 2ms/step - loss: -125397802942464.0000 - val_loss: -127236820697088.0000
Epoch 71/75
27362/27362 [==============================] - 67s 2ms/step - loss: -130874154680320.0000 - val_loss: -132755056754688.0000
Epoch 72/75
27362/27362 [==============================] - 67s 2ms/step - loss: -136505418842112.0000 - val_loss: -138431619399680.0000
Epoch 73/75
27362/27362 [==============================] - 68s 3ms/step - loss: -142306342600704.0000 - val_loss: -144267783700480.0000
Epoch 74/75
27362/27362 [==============================] - 66s 2ms/step - loss: -148256365477888.0000 - val_loss: -150257736351744.0000
Epoch 75/75
27362/27362 [==============================] - 66s 2ms/step - loss: -154377381740544.0000 - val_loss: -156423463895040.0000