In [6]:
import pandas as pd

# Load and Read In Dataframes

In [10]:
from google.colab import files
uploaded = files.upload()

Saving top2018.csv to top2018.csv

In [14]:
df1 = pd.read_csv('base_api_df (7).csv')
df2 = pd.read_csv('data-2.csv')
df3 = pd.read_csv('featuresdf.csv')
df4 = pd.read_csv('SpotifyFeatures.csv')
df5 = pd.read_csv('top10s.csv', encoding = "ISO-8859-1")
df6 = pd.read_csv('top50.csv', encoding = "ISO-8859-1")
df7 = pd.read_csv('top2017.csv')
df8 = pd.read_csv('top2018.csv')

# Cut Dataframes Down to Track Ids and Music Features

In [19]:
df1.head(1)

     artists        tracks               tracks_id  ... liveness  valence    tempo
0  DJ Shadow  Nobody Speak  2A9rFFPwsnhusCh8ZMBvYY  ...    0.263    0.304  160.066

[1 rows x 13 columns]

In [21]:
df1 = df1.drop(columns=['artists', 'tracks', 'albums'])
df1.head(1)

                tracks_id  danceability  energy  ...  liveness  valence    tempo
0  2A9rFFPwsnhusCh8ZMBvYY         0.621   0.814  ...     0.263    0.304  160.066

[1 rows x 10 columns]

In [23]:
df2.head(1)

   acousticness              artists  danceability  ...    tempo  valence  year
0         0.995  ['Carl Woitschach']         0.708  ...  118.469    0.779  1928

[1 rows x 19 columns]

In [24]:
df2 = df2.drop(columns=['artists', 'duration_ms', 'explicit', 'key', 'mode', 'name', 'popularity', 'release_date', 'year'])
df2.head(1)

   acousticness  danceability  energy  ... speechiness    tempo  valence
0         0.995         0.708   0.195  ...      0.0506  118.469    0.779

[1 rows x 10 columns]

In [25]:
df3.head(1)

                      id          name  ... duration_ms  time_signature
0  7qiZfU4dY1lWllzX7mPBI  Shape of You  ...    233713.0             4.0

[1 rows x 16 columns]

In [26]:
df3 = df3.drop(columns=['name', 'artists', 'key', 'mode', 'duration_ms', 'time_signature'])
df3.head(1)

                      id  danceability  energy  ...  liveness  valence   tempo
0  7qiZfU4dY1lWllzX7mPBI         0.825   0.652  ...    0.0931    0.931  95.977

[1 rows x 10 columns]

In [30]:
df4.head(1)

   genre     artist_name  ... time_signature valence
0  Movie  Henri Salvador  ...            4/4   0.814

[1 rows x 18 columns]

In [31]:
df4 = df4.drop(columns=['genre', 'artist_name', 'track_name', 'popularity', 'key', 'mode', 'time_signature', 'duration_ms'])
df4.head(1)

                 track_id  acousticness  ...    tempo  valence
0  0BRjO6ga9RKCKjfDqeFgWV         0.611  ...  166.969    0.814

[1 rows x 10 columns]

In [34]:
df5.head(1)

   Unnamed: 0             title artist   top genre  ...  dur  acous  spch  pop
0           1  Hey, Soul Sister  Train  neo mellow  ...  217     19     4   83

[1 rows x 15 columns]

In [35]:
df6.head(1)

   Unnamed: 0 Track.Name  ... Speechiness. Popularity
0           1   Señorita  ...            3         79

[1 rows x 14 columns]

In [36]:
df7.head(1)

                      id          name  ... duration_ms  time_signature
0  7qiZfU4dY1lWllzX7mPBI  Shape of You  ...    233713.0             4.0

[1 rows x 16 columns]

In [37]:
df7 = df7.drop(columns=['name', 'artists', 'key', 'mode', 'duration_ms', 'time_signature'])
df7.head(1)

                      id  danceability  energy  ...  liveness  valence   tempo
0  7qiZfU4dY1lWllzX7mPBI         0.825   0.652  ...    0.0931    0.931  95.977

[1 rows x 10 columns]

In [38]:
df8.head(1)

                      id        name  ... duration_ms  time_signature
0  6DCZcSspjsKoFjzjrWoCd  God's Plan  ...    198973.0             4.0

[1 rows x 16 columns]

In [39]:
df8 = df8.drop(columns=['name', 'artists', 'key','mode', 'duration_ms', 'time_signature'])
df8.head(1)

                      id  danceability  energy  ...  liveness  valence   tempo
0  6DCZcSspjsKoFjzjrWoCd         0.754   0.449  ...     0.552    0.357  77.169

[1 rows x 10 columns]

# Merge Dataframes

In [41]:
# Rename id columns so that columns from every dataframe are the same
df4 = df4.rename(columns={'track_id':'id'})
df1 = df1.rename(columns={'tracks_id':'id'})

In [43]:
spotify_df = df1.merge(df2, how='outer')
spotify_df = spotify_df.merge(df3, how='outer')
spotify_df = spotify_df.merge(df4, how='outer')
spotify_df = spotify_df.merge(df7, how='outer')
spotify_df = spotify_df.merge(df8, how='outer')
spotify_df.shape

(455055, 10)

In [45]:
spotify_df = spotify_df.drop_duplicates()
spotify_df['id'] = spotify_df['id'].drop_duplicates()
spotify_df = spotify_df.dropna()
spotify_df.shape

(364915, 10)

In [46]:
spotify_df.sample(10)

                            id  danceability  ...  valence    tempo
339678  4xuZcqCeQN3yHTFOAvmt29         0.754  ...   0.1900  110.493
57223   0zjG8lTSL9ovCGUjCUhgVS         0.598  ...   0.8070  134.360
403314  2d8je6jJDoaKWqI1YDMaB7         0.720  ...   0.5760   96.003
402215  4qAxNyEivD4oABEYvZNa0q         0.811  ...   0.9420  172.029
393742  1570aN4zl4f5vmh1IPBzZQ         0.659  ...   0.1170  130.050
176295  2GsVaRaVuBdXtijeHF2bkx         0.682  ...   0.3770  120.364
445157  7yEdmVzZuo0HYW52lZlQ3E         0.613  ...   0.6260   79.456
310208  1xMP9TQqG7a58clYOBbzZF         0.806  ...   0.2010  122.181
112873  1TWktJC3fqvOq7oCj5ZfFZ         0.268  ...   0.0833   85.925
221778  5RumlRQ92Z3WyEHDv8VZgB         0.450  ...   0.4550  125.330

[10 rows x 10 columns]

In [47]:
spotify_df.to_csv('spotify_song_data.csv')